*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'avenir';
    src: url('../Fonts/avenir.otf');
}

/* --------------- Header --------------- */
header {
    width: 100vw;
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFFFFF;
    padding: 0 100px 0 100px
    
}

#author {
    font-family: 'Cinzel', serif;
    font-size: 30px;
}
 #menu {
    display: flex;
    list-style-type: none;
    font-family: 'avenir';
    color: #303131;
 }
 

 #home {
     color: #8B98A7;
 }

 #menu li {
     text-decoration: none;
     padding: 50px;
     font-size: 18px;
 }

 #menu a {
     text-decoration: none;
     color: #303131;
 }

 #menu a:hover {
    color: #8B98A7;
 }


 /* --------------- Chat --------------- */
 #container-chat {
    height: 114px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
 }

 #chat {
    border-style: none;
    height: 74px;
    align-items: center;
    width: 428px;
    color: rgb(255, 255, 255);
    background-color: rgb(187, 151, 168);
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 18px;
    padding-right: 22px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    margin-right: 38px;
    font-family: 'Cinzel', serif;
 }


  /* --------------- Main --------------- */
main {
    display: flex;
    justify-content: center;
    padding-top: 102px;
    align-items: center;
    color: #FFFFFF;
    gap: 20px;
}  

#portifolio1{
    width: 29%;
    height: 1200px;
    background-image: url('../Images/Portifolio1.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portifolio1 a {
    text-decoration: none;
    color: #FFFFFF;
}

#portifolio2{
    width: 29%;
    height: 1200px;
    background-image: url('../Images/Portifolio2.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
}


#portifolio2 a {
    text-decoration: none;
    color: #FFFFFF;
}

#portifolio3{
    width: 29%;
    height: 1200px;
    background-image: url('../Images/Portifolio3.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
}


#portifolio3 a {
    text-decoration: none;
    color: #FFFFFF;
}

.title {
    font-size: 50px;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.1em;
    font-weight: 500;
    padding-top: 200px;
}

.btn {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    width: 150px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    margin-top: 27px;
}

.btn:hover {
    background-color: #273A4E;
    border-style: none;
    transition: 1s;
}

  /* --------------- Footer --------------- */
 footer {
    height: 114px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logos {
   display: flex;
   gap: 30px;
   padding: 5px 0 15px;
}

#text-end {
   font-family: 'avenir';
   font-size: 18px;
   color: #303131;
   font-weight: 100;
}