*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'avenir';
    src: url('../Fonts/avenir.otf');
}

/* --------------- Header --------------- */
header {
    width: 100vw;
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFFFFF;
    padding: 0 100px 0 100px
    
}

#author {
    font-family: 'Cinzel', serif;
    font-size: 30px;
}
 #menu {
    display: flex;
    list-style-type: none;
    font-family: 'avenir';
    color: #303131;
 }
 

 #home {
     color: #8B98A7;
 }

 #menu li {
     text-decoration: none;
     padding: 50px;
     font-size: 18px;
 }

 #menu a {
     text-decoration: none;
     color: #303131;
 }

 #menu a:hover {
    color: #8B98A7;
 }


 /* --------------- Chat --------------- */
 #container-chat {
    height: 114px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
 }
 
 #container-chat a {
     text-decoration: none;
 }

 #chat {
    border-style: none;
    height: 74px;
    align-items: center;
    width: 428px;
    color: rgb(255, 255, 255);
    background-color: rgb(187, 151, 168);
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 18px;
    padding-right: 22px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    margin-right: 38px;
    font-family: 'Cinzel', serif;
 }


  /* --------------- Main --------------- */
 main {
    display: flex;
    padding-top: 102px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}  

.container {
    width: 90%;
    height: 720px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #e3e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 60%;
    margin-left: 200px;
}

#book1 {
    width: 40%;
    margin-right: 150px;
}

.title {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: 100;
    width: 70%;
}

.title2 {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: 100;
}

.paragraph {
    font-family: 'avenir';
    font-size: 18.5px;
    line-height: 1.5em;
    width: 78%;
    padding-top: 10px;
}

.RS {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    font-weight: 100;
}

.price {
    display: flex; 
    padding-top: 20px;
}

.btn {
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 170px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 100px;
    font-weight: 100;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(20, 15, 53);
    color: #FFFFFF;
    border-style: none;
}

.price a {
    text-decoration: none;
    color: #000000;
}

  /* --------------- Footer --------------- */
 footer {
    height: 114px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logos {
   display: flex;
   gap: 30px;
   padding: 5px 0 15px;
}

#text-end {
   font-family: 'avenir';
   font-size: 18px;
   color: #303131;
   font-weight: 100;
}