*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'avenir';
    src: url('../Fonts/avenir.otf');
}

/* --------------- Header --------------- */
header {
    width: 100vw;
    height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFFFFF;
    padding: 0 100px 0 100px
    
}

#author {
    font-family: 'Cinzel', serif;
    font-size: 30px;
}
 #menu {
    display: flex;
    list-style-type: none;
    font-family: 'avenir';
    color: #303131;
 }
 

 #home {
     color: #8B98A7;
 }

 #menu li {
     text-decoration: none;
     padding: 50px;
     font-size: 18px;
 }

 #menu a {
     text-decoration: none;
     color: #303131;
 }

 #menu a:hover {
    color: #8B98A7;
 }


 /* --------------- Chat --------------- */
 #container-chat {
    height: 114px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
 }

 #chat {
    border-style: none;
    height: 74px;
    align-items: center;
    width: 428px;
    color: rgb(255, 255, 255);
    background-color: rgb(187, 151, 168);
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 18px;
    padding-right: 22px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    margin-right: 38px;
    font-family: 'Cinzel', serif;
 }


  /* --------------- Main --------------- */
main {
    display: flex;
    justify-content: center;
    padding-top: 102px;
}   

#img {
    width: 45%;
}

#text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 30px;
    gap: 10px;
}

#title {
    font-size: 40px;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.1em;
    font-weight: 300;
}

.paragraph {
    font-family: 'avenir';
    font-size: 18.5px;
    line-height: 1.5em;
    width: 78%;
    padding-top: 10px;
    width: 52%;
}

#forms {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box {
    width: 440px;
    height: 46px;
    padding-left: 30px;
    font-family: 'avenir';
    font-size: 20px;
}

#box2 {
    width: 440px;
    height: 140px;
    padding-left: 30px;
    font-family: 'avenir';
    font-size: 20px;
    padding-top: 20px;
}

#box3 {
    width: 313px;
    height: 46px;
    padding-left: 30px;
    font-family: 'avenir';
    font-size: 20px;
}

.box:hover {
    border-width: 3px;
    border-color: #000000;
}

#box2:hover {
    border-width: 3px;
    border-color: #000000;
}

#box3:hover {
    border-width: 3px;
    border-color: #000000;
}

#submit{
    width: 120px;
    height: 45px;
    background-color: #0d113b;
    color: #FFFFFF;
    margin-left: 320px;
    font-family: 'avenir';
    font-size: 18px;
}

#submit:hover {
    opacity: 0.7;
}

#btn {
    display: inline-flex;
    width: 120px;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #0d113b;
    color: #ffffff;
    margin-left: 5px;
    font-family: 'avenir';
    font-size: 18px;
}

#btn:hover {
    opacity: 0.7;
}

#news {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 15px;
}

  /* --------------- Footer --------------- */
 footer {
    height: 114px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logos {
   display: flex;
   gap: 30px;
   padding: 5px 0 15px;
}

#text-end {
   font-family: 'avenir';
   font-size: 18px;
   color: #303131;
   font-weight: 100;
}